.signInPage{
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.932);
    height: 100vh;
    width: 100vw;
}
.carousel-control-prev-icon {
    display: none;
}
.carousel-control-next-icon{
     display: none;
}
.pic{
    height: 100vh;
    width: 50vw; 
}
.carousel{
    position: relative;
}
.caroText{
  margin-bottom: 210px;
  margin-right: 150px;
  
}
.caroText > h3 {
    margin-right: 90px;
}
.visit{
    color: orange;
}

/* form */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-logo{
    padding: 0%;
    height: 150px;
    width: 13vw;
}
.formTopic{
    margin-left: 120px;
    margin-right: 100px;
}
.form{
    margin-left: 120px;
    margin-right: 100px;
}

.input{
    width: 420px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.formButton{
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    margin-right: 45px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    width: 30vw;
}
.sign-in{
    margin-left: 180px;
}
.sign-in > span {
    color: red;
}
.form-note{
    text-align: center;
}
.form-note > span {
    color: red;
}
.form-link{
    text-decoration: none !important;
    color: white !important;
}
.signIn{
 text-align: center;
 margin-top: 100px;
}
.signIn > span{
    color: red;
}
 .login-link {
    text-decoration: none !important;
    color: red !important;
    
}

.Terms-and-condition{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.term-button{
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    margin-right: 45px;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
@media screen and (max-width:480px) {
    .signInPage{
        display: flex;
        justify-content: space-between;
        background-color: rgba(245, 245, 245, 0.932);
        height: 110vh;
        width: 100vw;
       
    }
    .caro{
        display: none;
    }
    .pic{
        height: 150vh;
        width: 100vw; 
    }
    .carousel{
        position: relative;
    }
    .caroText{
      margin-bottom: 210px;
      margin-right: 10px;
      
    }
    .caroText > h3 {
        margin-right: 90px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-logo{
        padding: 0%;
        height: 230px;
        width: 60vw;
    }
    .input{
        width: 350px;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid gray;
        outline: none;
    }
    .formTopic{
        margin-left: 20px;
        margin-right: 10px;
    }
    .form{
        margin-left: 20px;
        margin-right: 10px;
    }
    .sign-in{
        margin-left: 40px;
    }
    .sign-in > span {
        color: red;
    }
    .formButton{
        text-align: center;
        padding: 15px;
        background-color: lightblue;
        margin-right: 5px;
        border-radius: 5px;
        border: none;
        margin-top: 20px;
        color: white;
        cursor: pointer;
        width: 90vw;
    }


}